
<div class="item-heading">
    <div class="item-name-title">Product Name</div>
    <div class="item-quantity-title">Quantity</div>
    <div class="item-price-title">Price</div>
</div>

{{#each items}}
<div class="item">
    <div class="item-name">{{this.name}}</div>
    <div class="item-quantity">{{this.quantity}}</div>
    <div class="item-price">{{this.price}}</div>

    
</div>
{{/each}}



<br>

 <div class="total" style="margin-left: 20px;">
     <h2>Total : 12.000.000 VNĐ</h2>
</div>

<br>
<br>
<div class="checkout-button">
    <input type="radio" checked="checked"/>
    <img class="logo" src="https://developers.momo.vn/images/logo.png" width="25" />
    <div class="content">
        <div class="checkout-title">
            Thanh toán bằng Ví MoMo
        </div>
        <div class="description">
            Quý khách vui lòng cài đặt Ví MoMo trước khi thanh toán. <a href="https://momo.vn/huong-dan/huong-dan-tai-va-cai-dat-vi-momo">Hướng dẫn</a>
        </div>
    </div>

</div>

<form action="/pay" method="POST">
    <input class="button-submit" type="submit" value="THANH TOÁN">
</form>